NODE_ENV=development

KAFKA_BROKERS=localhost:9092
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=dev-super-secret-change-me
JWT_EXPIRES_IN=1d

API_GATEWAY_PORT=3002
AUTH_SERVICE_PORT=3003
SHIPMENT_SERVICE_PORT=3004
NOTIFICATION_SERVICE_PORT=3005

AUTH_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/auth_db?schema=public
SHIPMENT_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/shipment_db?schema=public
